@import '../../styles/mixins/responsive.scss';

.logo {
  display: flex;
  font-family: var(--font-secondary);
  color: black;

  @include media-breakpoint-down(md) {
    .mobile-nav-visible & {
      color: white;

      &_icon {
        display: none;
      }

      &_icon-inverted {
        display: block;
      }
    }
  }
}

.logo_icon {
  margin-bottom: var(--spacing);
}

.logo_icon-inverted {
  display: none;
}

.logo_text {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
}

.logo_title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin-top: -3px;
}

.logo_subtitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  margin-top: var(--spacing-sm);
}
