.card {
  margin-bottom: var(--spacing-xl);

  .gatsby-image-wrapper {
    margin-bottom: var(--spacing-lg);
  }
}

.card_text {
  margin: var(--spacing-md) 0;
}

.card_button-wrapper {
  text-align: center;
  padding-bottom: var(--spacing-xl);
}