@mixin heading {
  display: inline-block;
  margin: 0;
  margin-bottom: var(--spacing);
  position: relative;
  font-family: var(--font-secondary);
  text-decoration: none;
  color: black;
  background-image: linear-gradient(180deg,transparent 75%,var(--color-primary) 0);
  background-repeat: no-repeat;
  animation: underline;
  animation-fill-mode: forwards;
  animation-duration: var(--transition-duration);
  animation-timing-function: var(--transition-ease);
}

h1 {
  @include heading;
  font-size: var(--font-size-xxl);
}

h2 {
    @include heading;
    font-size: var(--font-size-xl);
}

h3 {
  @include heading;
  font-size: 27px;
  font-size: var(--font-size-lg);
}

h4 {
  @include heading;
  font-size: 18px;
  font-size: var(--font-size-md);
}

h5 {
  @include heading;
  font-size: var(--font-size-md);
}

h6 {
  @include heading;
  font-size: var(--font-size-sm);
}

@keyframes underline {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}