@import '../../styles/mixins/responsive.scss';

.navigation_menu {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    padding-left: var(--spacing-lg);
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    display: none;
  
    li {
      display: block;
      padding-left: 0;
      padding-top: var(--spacing-md);
    }

    .mobile-nav-visible & {
      display: block;
    }
  }
}

.navigation_menu-item {
  position: relative;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  color: black;
  text-decoration: none;

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0.2rem;
    bottom: -0.4rem;
    left: 0;
    background-color: var(--color-primary);
    transition: width var(--transition-duration) var(--transition-ease);
  }

  &:hover,
  &:focus {
    color: black;

    &::after {
      width: 100%;
    }
  }

  &.is-active {
    &::after {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    color: white;

    &:hover,
    &:focus {
      color: white;
    }
  }
}

// Navigation toggle
.navigation-toggle {
  display: inline-block;
  position: absolute;
  top: var(--spacing-sm);
  right: 0;
  padding: 2px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 1;

  &:hover {
    opacity: 0.7;
  }

  &.is-active {
    &:hover {
      opacity: 0.7;
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navigation-toggle-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.navigation-toggle-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.navigation-toggle-inner,
.navigation-toggle-inner::before,
.navigation-toggle-inner::after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.navigation-toggle-inner {
  top: 5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &::before {
    top: 6px;
    transition: opacity 0.125s 0.275s ease;
  }

  &::after {
    top: 12px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .mobile-nav-visible & {
    transform: translate3d(0, 6px, 0) rotate(135deg);
    transition-delay: 0.075s;
    background-color: white;

    &::before {
      transition-delay: 0s;
      opacity: 0;
    }
    &::after {
      transform: translate3d(0, -12px, 0) rotate(-270deg);
      transition-delay: 0.075s;
      background-color: white;
    }
  }
}
