.labnavigation {
  position: relative;
  margin-left: auto;
}

.labnavigation_menu {
  position: absolute;
  width: calc(100% - var(--spacing));
  top: calc(100% + var(--spacing-xs));
  left: calc(var(--spacing-xs) + 1px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-d10);
  z-index: 10;

  li {
    padding: var(--spacing);
  }
}

.labnavigation_menu-item {
  color: white;

  &:hover,
  &:focus {
    color: white;
  }
}