:root {
    --color-blue: #EDF4FF;
    --color-blue-d10: #E1EDFF;
    --color-cyan: #00DAE5;
    --color-cyan-d10: #00D4DE;
    --color-gray-l10: #FBFBFB;
    --color-gray-d20: #16181E;
    --color-green: #27EA79;
    --color-green-d10: #00DE5D;
    --color-orange: #FF9B5E;
    --color-orange-d10: #FF7927;
    --color-purple: #AE93FF;
    --color-purple-d10: #7D53FF;
}
