
:root {
    // Transitions
    --transition-duration: 200ms;
    --transition-ease: cubic-bezier(.07,.71,.1,.9);

    //Other
    --border-radius: var(--spacing-lg);
    --border-radius-sm: var(--spacing-xxs);
}