:root {
    // Spacing
    --spacing: 10px;
    --spacing-xs: calc(.25 * var(--spacing));
    --spacing-sm: calc(.5 * var(--spacing));
    --spacing-md: calc(2 * var(--spacing));
    --spacing-lg: calc(3 * var(--spacing));
    --spacing-xl: calc(4 * var(--spacing));
}
