.theme-cyan {
    --color-primary: var(--color-cyan);
    --color-primary-d10: var(--color-cyan-d10);
}

.theme-green {
    --color-primary: var(--color-green);
    --color-primary-d10: var(--color-green-d10);
}

.theme-orange {
    --color-primary: var(--color-orange);
    --color-primary-d10: var(--color-orange-d10);
}

.theme-purple {
    --color-primary: var(--color-purple);
    --color-primary-d10: var(--color-purple-d10);
}
