@import '../../styles/mixins/responsive.scss';

.highlight-section {
  padding-top: var(--spacing-xl);
}

.highlight {
  width: 100%;
  text-align: left;
  padding-right: var(--spacing-md);
  color: black;

  h4 {
    background: none;
  }

  &:hover,
  &:focus {
    color: black;
  }
}

.highlight_image-container {
  position: relative;
  height: 0;
  padding-bottom: 66.66%;
  margin-bottom: var(--spacing-lg);
  background-color: var(--color-gray-l10);
  
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: var(--spacing-sm);
    left: var(--spacing-sm);
    background-color: black;
    z-index: -1;
  }
}

.highlight_image {
  position: absolute !important;
  width: 100%;
  height: 100%;
}